<!DOCTYPE HTML>
<html ng-app="calculator">
<head>
  <script src="./angular.min.js"></script>
  <script>
    angular.module('calculator', []);
  </script>
  <script src="./calc.arnoldc.js"></script>
  <link href="./bootstrap.css" rel="stylesheet">
</head>
<body class="ng-cloak">
  <div ng-controller="CalcCtrl as calc" class="container">
    <div>
      <h3>Super Calculator</h3>
      <form class="form-inline">
        <input ng-model="calc.first" type="number" class="input-small"/>
        <select ng-model="calc.operator" class="span1">
          <option value="0">+</option>
          <option value="1">-</option>
          <option value="2">*</option>
          <option value="3">/</option>
          <option value="4">%</option>

        </select>
        <input ng-model="calc.second" type="number" class="input-small"/>
        <button ng-click="calc.doAddition()" id="gobutton" class="btn">Go!</button>
        <h2>{{calc.latest}}</h2>
      </form>
    </div>
    <img src="giphy.gif" ng-show="calc.visible == 1" alt="TURBO MAN">
  </div>
</body>
</html>
